# 1. Import Libraries and Load the Dataset

In [36]:
import pandas as pd

# Load the raw dataset
df = pd.read_csv( r"C:\Users\viren\OneDrive\Desktop\Road accident data analytics\archive (6)\accident_prediction_india.csv")

df.head()

,State Name,City Name,Year,Month,Day of Week,Time of Day,Accident Severity,Number of Vehicles Involved,Vehicle Type Involved,Number of Casualties,...,Road Type,Road Condition,Lighting Conditions,Traffic Control Presence,Speed Limit (km/h),Driver Age,Driver Gender,Driver License Status,Alcohol Involvement,Accident Location Details
0,Jammu and Kashmir,Unknown,2021,May,Monday,1:46,Serious,5,Cycle,0,...,National Highway,Wet,Dark,Signs,61,66,Male,NaN,Yes,Curve
1,Uttar Pradesh,Lucknow,2018,January,Wednesday,21:30,Minor,5,Truck,5,...,Urban Road,Dry,Dusk,Signs,92,60,Male,NaN,Yes,Straight Road
2,Chhattisgarh,Unknown,2023,May,Wednesday,5:37,Minor,5,Pedestrian,6,...,National Highway,Under Construction,Dawn,Signs,120,26,Female,NaN,No,Bridge
3,Uttar Pradesh,Lucknow,2020,June,Saturday,0:31,Minor,3,Bus,10,...,State Highway,Dry,Dark,Signals,76,34,Female,Valid,Yes,Straight Road
4,Sikkim,Unknown,2021,August,Thursday,11:21,Minor,5,Cycle,7,...,Urban Road,Wet,Dusk,Signs,115,30,Male,NaN,No,Intersection

# 2. Check Column Names and Missing Values

In [37]:
# See all columns
print("Columns in dataset:")
print(df.columns)

# Check missing values
print("\nMissing Values:")
df.isnull().sum()

Columns in dataset:
Index(['State Name', 'City Name', 'Year', 'Month', 'Day of Week',
       'Time of Day', 'Accident Severity', 'Number of Vehicles Involved',
       'Vehicle Type Involved', 'Number of Casualties', 'Number of Fatalities',
       'Weather Conditions', 'Road Type', 'Road Condition',
       'Lighting Conditions', 'Traffic Control Presence', 'Speed Limit (km/h)',
       'Driver Age', 'Driver Gender', 'Driver License Status',
       'Alcohol Involvement', 'Accident Location Details'],
      dtype='object')

Missing Values:

State Name                       0
City Name                        0
Year                             0
Month                            0
Day of Week                      0
Time of Day                      0
Accident Severity                0
Number of Vehicles Involved      0
Vehicle Type Involved            0
Number of Casualties             0
Number of Fatalities             0
Weather Conditions               0
Road Type                        0
Road Condition                   0
Lighting Conditions              0
Traffic Control Presence       716
Speed Limit (km/h)               0
Driver Age                       0
Driver Gender                    0
Driver License Status          975
Alcohol Involvement              0
Accident Location Details        0
dtype: int64

# 3. Clean Text Columns (Remove Spaces + Standardize Case)

In [38]:
# Columns that contain categorical text
columns_to_clean = [
    'Accident Severity',
    'Vehicle Type Involved',
    'Weather Conditions',
    'Road Type',
    'Road Condition',
    'Lighting Conditions'
]

# Clean each column
for col in columns_to_clean:
    df[col] = df[col].astype(str).str.strip().str.title()

 # 4. Clean 'Time of Day' Column

In [40]:
df['Time of Day'] = df['Time of Day'].astype(str).str.strip().str.title()

# 5. Clean Driver-Related Columns

In [41]:
df['Driver Gender'] = df['Driver Gender'].astype(str).str.strip().str.title()
df['Alcohol Involvement'] = df['Alcohol Involvement'].astype(str).str.strip().str.title()
df['Driver License Status'] = df['Driver License Status'].astype(str).str.strip().str.title()

# 6. Remove Duplicate Rows

In [42]:
df = df.drop_duplicates()

# 7. Convert Month Name → Month Number

In [43]:
df['Month'] = pd.to_datetime(df['Month'], format='%B').dt.month

# 8. Convert Year to Integer

In [44]:
df['Year'] = df['Year'].astype(int)

# 9. Create a Date Column (Using Year + Month)

In [45]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State Name                   3000 non-null   object
 1   City Name                    3000 non-null   object
 2   Year                         3000 non-null   int64
 3   Month                        3000 non-null   int32
 4   Day of Week                  3000 non-null   object
 5   Time of Day                  3000 non-null   object
 6   Accident Severity            3000 non-null   object
 7   Number of Vehicles Involved  3000 non-null   int64
 8   Vehicle Type Involved        3000 non-null   object
 9   Number of Casualties         3000 non-null   int64
 10  Number of Fatalities         3000 non-null   int64
 11  Weather Conditions           3000 non-null   object
 12  Road Type                    3000 non-null   object
 13  Road Condition               3000 non-null   object
 14  Lighting Conditions          3000 non-null   object
 15  Traffic Control Presence     2284 non-null   object
 16  Speed Limit (km/h)           3000 non-null   int64
 17  Driver Age                   3000 non-null   int64
 18  Driver Gender                3000 non-null   object
 19  Driver License Status        3000 non-null   object
 20  Alcohol Involvement          3000 non-null   object
 21  Accident Location Details    3000 non-null   object
dtypes: int32(1), int64(6), object(15)
memory usage: 504.0+ KB

# 11. Save the Cleaned Dataset

In [50]:
df.to_csv(r"C:\Users\viren\OneDrive\Desktop\Road accident data analytics\archive (6)\clean_accidents.csv", index=False)
print("Saved successfully!")

Saved successfully!